:root {
  font-size: 62.5%;

  --nav-height: 7.2rem;

  /* Color */
  --black: #000;
  --black-light: #555;
  --red: #ff5a60;
  --bg: #eee;
}

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;

  background-color: #111111;
  color: white;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.7rem;
}

button {
  border: none;
  background: none;
}

.show,
#fixedDelete.show {
  opacity: 1;
  visibility: visible;
}

/* NAVIGATION ================================ */
nav {
  width: 100vw;
  height: var(--nav-height);

  display: flex;

  position: fixed;
  top: 0;
}

nav .wrapper {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 3.2rem;
}

/* MAIN ================================ */
main .wrapper {
  padding-top: calc(var(--nav-height) + 1.6rem);
}

#mainUlIsEmpty {
  padding-block: 1.6rem;
  font-size: 2.4rem;
}

.invisible,
#mainUlIsEmpty.invisible {
  opacity: 0;
  visibility: hidden;

  position: absolute;
}

.addNewTask,
#mainUlIsEmpty.hidden {
  display: none;
}

#mainUlIsEmpty {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: var(--black-light);
}

.addNewTask.inputShowed,
main li {
  display: grid;
}

.addNewTask,
main li {
  column-gap: 1.6rem;
  padding-block: 1.6rem;

  grid-template-columns: min-content 1fr;

  position: relative;
}

.addNewTask input[type="clicked"] {
  width: 100%;
}

input[type="text"] {
  width: 100%;

  border: none;
  outline: none;
  background: none;
  color: white;
}

input[type="text"],
main li span {
  font-size: 2.4rem;
}

input:checked + span {
  text-decoration: line-through;
  color: var(--black-light);
}

input[type="checkbox"] {
  width: 2.4rem;
  height: 2.4rem;

  appearance: none;

  align-self: center;
}

input[type="checkbox"]:checked::before {
  content: "";
  width: 100%;
  height: 100%;

  display: block;
}

input[type="checkbox"] {
  background-color: var(--black-light);
  border-radius: 0.6rem;
}

main li button {
  position: absolute;
  right: 0;
  top: 1.75rem;

  opacity: 0;
  visibility: hidden;

  transition: opacity 200ms;
}

.mainTask button:last-child {
  right: 4rem;
}

.mainTask > input[type="checkbox"]:checked {
  background-color: var(--red);
}

.mainTask > input[type="checkbox"]:checked::before {
  background: url("assets/checked.svg") center no-repeat;
}

.mainTask ul {
  grid-column-start: 2;
  margin-top: 0.8rem;
}

/* FIXED ADD BUTTON ================================ */

.fixedButton {
  display: flex;

  position: fixed;
  right: 5%;
  bottom: 3rem;
}

.fixedButton ul {
  list-style: none;
}

.fixedButton button {
  width: 4.8rem;
  height: 4.8rem;

  position: relative;
}

.fixedButton button::before {
  content: "";
  width: 100%;
  height: 100%;

  display: block;

  position: absolute;
  top: 0;

  transition: transform 200ms;
}

#fixedAdd::before {
  background: url("assets/add.svg") center no-repeat;
}

.fixedButton.inputShowed #fixedAdd::before {
  transform: rotate(45deg);
}

#fixedDelete {
  margin-bottom: 0.4rem;

  opacity: 0;
  visibility: hidden;
}

#fixedDelete::before {
  background: url("assets/delete_red.svg") center no-repeat;
  background-size: 3.6rem;
}
